NOTION_API_KEY  = "Your NOTION_API_KEY"
NOTION_DATABASE_ID = "Your Notion Database ID"
HUNTER_API_KEY = "Your Hunter.io API Key"
OPENAI_API_KEY= "Your OpenAI API OPENAI_API_KEY"
SMTP_EMAIL="Your SMTP Email"
SMTP_PASSWORD="Your SMTP Password" 
SMTP_SERVER="smtp.gmail.com" # If you are using Gmail
SMTP_PORT=587
STAKEHOLDER_EMAIL = "Your Stakeholder Email"
SENDER_NAME= "Sender of the marketing Email"
